* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f4ec;
  color: #222;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}